@{
    ViewBag.Title = "Historique de création et développement l'entreprise - Media Concept";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div id="main-content">
    <article id="post-1518"
             class="post-1518 page type-page status-publish hentry">
        <div class="entry-content">
            <div id="et-boc" class="et-boc">
                <div class="et-l et-l--post">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_gutters1">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_post_title et_pb_post_title_0 et_pb_bg_layout_light  et_pb_text_align_left">
                                        <div class="et_pb_title_container">
                                            <h1 class="entry-title">À Propos</h1>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"></div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_1 et_section_regular">
                            <div class="et_pb_row et_pb_row_1 et_pb_row_fullwidth">
                                <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Media Contact</strong>
                                            </h2>
                                            <h4>
                                                « Media concept » est une société de Services
                                                Informatique fondée en 2012, elle évolue dans le domaine du
                                                développement des logiciels destinés à la gestion des
                                                industries tunisiennes de textile. Elle offre aux
                                                entreprises des solutions efficaces satisfaisant l'ensemble
                                                de leurs besoins, dans la gestion de production, la gestion
                                                commerciale, la gestion de maintenance et la gestion de
                                                ressource humaine, ainsi que dans le business intelligence
                                            </h4>
                                            <p>
                                                <strong><br>Pourquoi choisir Media Concept</strong>
                                            </p>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="/assets/images/aa11.png" alt=""
                                                                 width="62" height="62"><br>
                                                            <p>
                                                                <strong>Innovation</strong>
                                                            </p>
                                                            <p>
                                                                Media Concept place la recherche et l'innovation
                                                                au centre de son activité pour vous offrir des solutions
                                                                plus modernes, optimisées, adaptées à vos attentes et
                                                                permettant de vous garantir de rester toujours à la
                                                                pointe des tendances.
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <img src="/assets/images/aa12.png" alt=""
                                                                 width="69" height="69">
                                                            <p>
                                                                <strong>Sécurité</strong>
                                                            </p>
                                                            <p>
                                                                La sécurité et la fiabilité font partie des
                                                                valeurs fondamentales de Media Concept. Les logiciels
                                                                qu'elle offre vous assurent la protection et la
                                                                confidentialité de vos données, et donc la solidité de
                                                                votre entreprise.
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                <img src="/assets/images/expertise.PNG" alt=""
                                                                     width="72" height="64">
                                                            </p>
                                                            <p>
                                                                &nbsp;<strong>Expérience et expertise</strong>
                                                            </p>
                                                            <p>
                                                                Une équipe de professionnels possédants des
                                                                compétences variées et complémentaires, avec 8 ans
                                                                d’expérience, vous garantir une offre adapter
                                                                parfaitement à vos attente
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <img src="/assets/images/accompagnement.PNG" alt=""
                                                                     width="76" height="63">&nbsp;
                                                            </p>
                                                            <p>
                                                                <strong>Accompagnement</strong>
                                                            </p>
                                                            <p>
                                                                Media concept vous assure un accompagnement dans
                                                                toutes les étapes de configuration de ses logiciels.
                                                                Toute l’équipe est à votre service tout au long la
                                                                configuration
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>
                                                <strong><br>Nos valeurs</strong>
                                            </p>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                <u>Adaptabilité</u>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <u>Assistance</u>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <u>Professionnalisme</u>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="329" cellspacing="0" cellpadding="0"
                                                                   border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <p>
                                                                                <br>Nos logiciels sont développés selon une
                                                                                mesure qui respecte la différence entre les
                                                                                activités de chaque entreprise afin d'offrir une
                                                                                solution&nbsp;fiable
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <p>
                                                                                <br>Nous sommes fidèles et proches de nos
                                                                                clients. Nous personnalisons notre approche pour que
                                                                                chacun se sente bien soutenu dans le processus de
                                                                                décision.
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table width="291" cellspacing="0" cellpadding="0"
                                                                   border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <p>
                                                                                <br>Nous agissons avec nos partenaires
                                                                                conformément à notre lettre de confidentialité et
                                                                                selon notre code d'éthique que nous signions.
                                                                            </p>
                                                                            <p></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>
                                                <strong>
                                                    <br>
                                                    <br>Choisir le bon partenaire, c'est choisir Media
                                                    Concept
                                                </strong>
                                            </p>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                Media Concept a engagé un fort projet de
                                                                collaboration avec certains partenaires logiciels, basé
                                                                sur le partage de plans industriels et d'objectifs
                                                                économiques.
                                                            </p>
                                                            <p>
                                                                Media Concept répond au besoin d'une approche
                                                                synergique et collaborative du marché et se concentre
                                                                sur le partage d'un savoir-faire fait de méthodologie,
                                                                de technologie, de savoir et d'expérience.&nbsp;
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <img src="/assets/images/partenaire.PNG" alt="" width="382"
                                                                     height="284">
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_2 et_pb_row_fullwidth">
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_0 et_pb_image_sticky">
                                        <a href="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/images/logo-media-concept.jpg" />
                                                <noscript>
                                                    <img src="~/assets/images/Interal-logo-White.png" alt=""
                                                         title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <p>All Rights Reserved.</p>
                                    </div>

                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Liens rapides</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">GMAO Gestion de maintenance</a><br /> <a href="">
                                                MRP
                                                Gestion de production
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Nous contacter</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">Contact</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Réseaux Sociaux</div>
                                    </div>
                                    <div class="et_pb_button_module_wrapper et_pb_button_1_wrapper  et_pb_module ">
                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

