
@{
    ViewBag.Title = "Logiciel de gestion de commande et de ventes";
    Layout = "~/Views/Shared/_LayoutGPAO.cshtml";
}

<div id="main-content">
    <article id="post-1974"
             class="post-1974 page type-page status-publish hentry">
        <div class="entry-content">
            <div id="et-boc" class="et-boc">
                <div class="et-l et-l--post">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_gutters1">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_post_title et_pb_post_title_0 et_pb_bg_layout_light  et_pb_text_align_left">
                                        <div class="et_pb_title_container">
                                            <h1 class="entry-title">MRP Clients ventes</h1>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_101  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"></div>
                            </div>
                        </div>

                        <div class="et_pb_section et_pb_section_3 et_section_regular">
                            <div class="et_pb_row et_pb_row_2 et_pb_row_fullwidth et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_2_5 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_0">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Customer-order-1080x608.jpg 1080w, /assets/images/Customer-order-980x552.jpg 980w, /assets/images/Customer-order-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Customer-order.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Customer-order.jpg"
                                                     alt="" title=""
                                                     srcset="/assets/images/Customer-order-1080x608.jpg 1080w, /assets/images/Customer-order-980x552.jpg 980w, /assets/images/Customer-order-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_3_5 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                Rapidité et efficacité sont les mots d’ordre. Ne
                                                perdez plus d’information sur un client ou une commande.
                                                Une seule source d’information accessible à tous les
                                                intervenants, ainsi qu’à des engins de recherches
                                                puissants, permettant un retour d’information fiable.
                                            </h2>
                                            <p>
                                                <strong>Saisie des commandes et soumissions</strong>
                                            </p>
                                            <ul>
                                                <li>Capacité de prendre des notes non imprimables</li>
                                                <li>
                                                    Capacité de dupliquer un produit dans une
                                                    soumission afin d&#8217;exprimer les remises sur
                                                    quantité
                                                </li>
                                                <li>
                                                    Importation des produits finis vers une
                                                    interface simple permettant de construire rapidement un
                                                    document client
                                                </li>
                                                <li>
                                                    Inclusion de dates d&#8217;expiration dans les
                                                    soumissions
                                                </li>
                                                <li>
                                                    Importation des prix définis dans le module «
                                                    Évaluations »
                                                </li>
                                                <li>
                                                    Saisie de commandes multi-items, avec quantités,
                                                    dates promises de livraison et dates prévues de
                                                    lancement en production
                                                </li>
                                                <li>
                                                    Chaque ligne permet la saisie d&#8217;items ou
                                                    de frais de service
                                                </li>
                                                <li>
                                                    Possibilité de créer automatiquement une
                                                    commande à partir d&#8217;une soumission
                                                </li>
                                            </ul>
                                            <p>
                                                <strong>Suivi des commandes</strong>
                                            </p>
                                            <ul>
                                                <li>
                                                    Explorateur permettant de suivre l&#8217;état de
                                                    progression de chaque ordre de production ouvert pour
                                                    chaque commande
                                                </li>
                                                <li>Rapports divers de suivi de la production</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_4 et_section_regular">
                            <div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_2_5 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_1">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Customer-RelationShip-1080x608.jpg 1080w, /assets/images/Customer-RelationShip-980x552.jpg 980w, /assets/images/Customer-RelationShip-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Customer-RelationShip.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Customer-RelationShip.jpg"
                                                     alt="" title=""
                                                     srcset="h/assets/images/Customer-RelationShip-1080x608.jpg 1080w, /assets/images/Customer-RelationShip-980x552.jpg 980w, /assets/images/Customer-RelationShip-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_3_5 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Gestion des clients</strong>
                                            </h2>
                                            <p>
                                                Il n&#8217;y a rien de plus simple qu&#8217;un
                                                système qui gère toutes vos exigences de production
                                                (maintenance) qui possède également un système intégré de
                                                gestion des clients qui fournit des informations
                                                détaillées sur l&#8217;historique des achats, les
                                                préférences d&#8217;achat, les limites d&#8217;achat, les
                                                crédits, le territoire, les prix préférentiels, les
                                                rabais / escomptes, prévisions de vente, transporteur par
                                                défaut, informations d&#8217;expédition et bien plus
                                                encore.
                                            </p>
                                            <p>
                                                Notre logiciel CMMS consolide les informations
                                                client et les documents (comme les contrats) dans une
                                                seule base de données afin que les utilisateurs puissent
                                                accéder et gérer plus facilement.
                                            </p>
                                            <p>
                                                D&#8217;autres fonctions incluent
                                                l&#8217;enregistrement des interactions avec les clients
                                                (par courrier électronique, appels téléphoniques, médias
                                                sociaux ou autres canaux, etc.), l&#8217;automatisation
                                                des tâches, des calendriers et des alertes et la
                                                possibilité de suivre les performances et la productivité
                                                en fonction des informations enregistrées dans le
                                                système.
                                            </p>
                                            <p>&nbsp;</p>
                                            <p>
                                                Pour vous permettre de diriger vos relations avec
                                                la clientèle (actuelle et future).
                                            </p>
                                            <p>
                                                Vous aurez accès à toutes les interventions chez
                                                vos clients, à leurs statistiques ainsi qu’à leurs
                                                projets en cours.
                                            </p>
                                            <ul>
                                                <li>Gestion des prévisions de ventes</li>
                                                <li>
                                                    Gestion des contacts et suivi des communications
                                                    et évènements
                                                </li>
                                                <li>
                                                    Structure d&#8217;informations nécessaires aux
                                                    ventes et aux expéditions
                                                </li>
                                                <li>Gestion des escomptes et prix préférentiels</li>
                                                <li>
                                                    Gestion du service après-vente tel que les
                                                    appels de services
                                                </li>
                                                <li>
                                                    Enregistrement de la marge de crédit et des
                                                    statistiques d&#8217;achat du client
                                                </li>
                                                <li>Gestion des rappels de prospects et clients</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_5 et_section_regular">
                            <div class="et_pb_row et_pb_row_4 et_pb_row_fullwidth et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_2_5 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_2">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Logistics-management-1080x608.jpg 1080w, /assets/images/Logistics-management-980x552.jpg 980w, /assets/images/Logistics-management-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Logistics-management.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Logistics-management.jpg"
                                                     alt="" title=""
                                                     srcset="/assets/images/Logistics-management-1080x608.jpg 1080w, /assets/images/Logistics-management-980x552.jpg 980w, /assets/images/Logistics-management-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_3_5 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Gestion logistique</strong>
                                            </h2>
                                            <p>
                                                La gestion de la logistique est entrelacée dans
                                                notre GMAO et soutient le flux de pièces, produits et
                                                matières premières entre le point d&#8217;origine et le
                                                point de consommation afin de répondre aux exigences des
                                                clients.
                                            </p>
                                            <p>
                                                Les ressources gérées en logistique peuvent inclure des
                                                éléments tels que la nourriture, les matières premières,
                                                les animaux, l&#8217;équipement et les liquides; Ainsi
                                                que des articles connexes comme le temps et
                                                l&#8217;information.<br /> La logistique des éléments
                                                physiques implique généralement l&#8217;intégration du
                                                flux d&#8217;information, de la manutention, de la
                                                production, de l&#8217;emballage, de l&#8217;inventaire,
                                                du transport et de l&#8217;entreposage.
                                            </p>
                                            <p>
                                                La gestion de la logistique fait partie de la
                                                gestion de la chaîne d&#8217;approvisionnement (SCM) qui
                                                implique le mouvement et le stockage des matières
                                                premières, des stocks de travail en cours et des produits
                                                finis, afin de répondre aux besoins des clients.
                                            </p>
                                            <h2>Expédition des lots</h2>
                                            <ul>
                                                <li>
                                                    Regroupement des lignes de commande ayant été
                                                    complétées pour un client sous un même envoi
                                                </li>
                                                <li>
                                                    Gestion des palettes d&#8217;expédition et de
                                                    leur localisation
                                                </li>
                                                <li>
                                                    Suivi des expéditions et génération automatique
                                                    de multiples rapports s&#8217;y rapportant
                                                    (connaissements, bons de livraison)
                                                </li>
                                                <li>
                                                    Impression d&#8217;étiquettes d&#8217;expédition
                                                    comportant un code à barres
                                                </li>
                                                <li>
                                                    Rapports portant sur la performance de livraison
                                                    de l&#8217;entreprise, basés sur les dates promises
                                                    versus la date de livraison réelle
                                                </li>
                                            </ul>
                                            <h2>Gestion des réceptions de marchandises</h2>
                                            <ul>
                                                <li>
                                                    Conversion des unités de mesure de commande vers
                                                    les unités de mesure de stockage lors de la réception
                                                </li>
                                                <li>Saisie au système des numéros de lots reçus</li>
                                                <li>
                                                    Réception partielle ou complète, cancellation
                                                    d&#8217;une commande partiellement réceptionnée
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_6 et_section_regular">
                            <div class="et_pb_row et_pb_row_5 et_pb_row_fullwidth et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_2_5 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_3">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Invoicing-1080x608.jpg 1080w, /assets/images/Invoicing-980x552.jpg 980w, /assets/images/Invoicing-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Invoicing.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Invoicing.jpg"
                                                     alt="" title=""
                                                     srcset="/assets/images/Invoicing-1080x608.jpg 1080w, /assets/images/Invoicing-980x552.jpg 980w, /assets/images/Invoicing-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_3_5 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Facturation</strong>
                                            </h2>
                                            <p>
                                                Afin de permettre la liaison d’<strong>INTERAL</strong> à
                                                tout système comptable, un module complet de gestion des
                                                factures payables et recevables a été mis en place dans
                                                le système.
                                            </p>
                                            <p>
                                                Les factures recevables peuvent être réalisées
                                                directement à partir des interfaces de gestion de
                                                l’expédition ou encore en utilisant l’interface de
                                                préparation des factures recevables. Cette dernière
                                                permet de confronter les quantités commandées, expédiées
                                                et déjà facturées afin de faciliter la création des
                                                factures qui pourront par la suite être expédiées aux
                                                clients.
                                            </p>
                                            <p>
                                                Dès la création de la soumission et de la commande
                                                client, le système veille à repérer le poste de vente
                                                adéquat ainsi que les postes reliés aux taxes perçues et
                                                payées, afin de limiter la saisie et de limiter les
                                                erreurs d’affectation aux comptes.
                                            </p>
                                            <p>
                                                Cela est rendu possible grâce à la configuration de
                                                groupes de postes comptables qui sont par la suite reliés
                                                dans <strong>INTERAL</strong> aux produits vendus par
                                                l’entreprise.
                                            </p>
                                            <p>
                                                Afin de permettre l’ajustement de la valeur des
                                                inventaires de matières réceptionnées, les payables
                                                peuvent également être saisis dans le système. Outre la
                                                comparaison directe entre les montants facturés, les
                                                quantités réceptionnées et les sommes enregistrées lors
                                                de la création du bon d’achat, le système permet,
                                                advenant l’acceptation de tout écart, de procéder à
                                                l’ajustement de la valeur des plage d’inventaire
                                                concernées grâce à sa fonctionnalité de normalisation des
                                                bons d’achat.
                                            </p>
                                            <p>
                                                Suite à leur saisie, l’ensemble des factures
                                                recevables et payables peuvent par la suite être
                                                exportées vers le système comptable de l’entreprise via
                                                un lien comptable adaptable, afin d’éviter la
                                                double-saisie et toute erreur de transcription.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_6 et_pb_row_fullwidth">
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_7 et_pb_image_sticky">
                                        <a href="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title="" data-lazy-src="/assets/images/logo-media-concept.jpg" />
                                                <noscript>
                                                    <img src="~/assets/images/Interal-logo-White.png" alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <p>All Rights Reserved.</p>
                                    </div>

                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Liens rapides</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">
                                                GMAO
                                                Gestion de maintenance
                                            </a><br /> <a href="">
                                                MRP
                                                Gestion de production
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Nous contacter</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">Contact</a><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Réseaux Sociaux</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_left et_pb_bg_layout_dark">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            </div>
</article>
</div>

