@{
    ViewBag.Title = "Informations de Contact, Rejoignez-nous - Media Concept";
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}
    <div id="main-content">
        <article id="post-1305"
                 class="post-1305 page type-page status-publish hentry">
            <div class="entry-content">
                <div id="et-boc" class="et-boc">
                    <div class="et-l et-l--post">
                        <div class="et_builder_inner_content et_pb_gutters3">
                            <div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
                                <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_gutters1">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_post_title et_pb_post_title_0 et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_title_container">
                                                <h1 class="entry-title">Contact</h1>
                                            </div>
                                        </div>
                                        <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space">
                                            <div class="et_pb_divider_internal"></div>
                                        </div>
                                    </div>
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"></div>
                                </div>
                            </div>

                            <div class="et_pb_section et_pb_section_3 et_section_regular">
                                <div class="et_pb_row et_pb_row_2">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
                                            <div class="et_pb_text_inner">
                                                <h1>
                                                    <strong>Tunis &#8211; Siège social</strong>
                                                </h1>
                                                <p>
                                                    Adresse<br /> Tunis

                                                </p>
                                                <p>
                                                    Tél: (216) 55 180 502<br />
                                                </p>
                                                <p>
                                                    <span id="cloak6e131721dab7702a0c00877de9b3427b">
                                                        <a href="mailto:contact@mediaconceptn.com">contact@mediaconceptn.com</a>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
                                            <h1>
                                                <strong>Nous Contacter</strong>
                                            </h1>
                                            <div class="container_form">
                                                <form action="action_page.php">

                                                    <label for="nom">Nom</label>
                                                    <input type="text" id="fname" name="Nom" placeholder="Votre Contact..">
                                                    <br />
                                                    <label for="email">E-mail</label>
                                                    <input type="text" id="mail" name="mail" placeholder="Votre Mail..">
                                                    <br />
                                                    <label for="sujet">Sujet</label>
                                                    <input type="text" id="sujet" name="sujet" placeholder="Votre Sujet..">
                                                    <br />
                                                    <label for="message">Message</label>
                                                    <textarea id="message" name="message" placeholder="Votre Message.." style="height: 200px"></textarea>
                                                    <br />
                                                    <input type="submit" value="Envoyer">

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="et_pb_section et_pb_section_7 et_pb_with_background et_section_regular">
                                <div class="et_pb_row et_pb_row_7 et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_image et_pb_image_3 et_pb_image_sticky">
                                            <a href="">
                                                <span class="et_pb_image_wrap ">
                                                    <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                         alt="" title=""
                                                         data-lazy-src="/assets/images/logo-media-concept.jpg" />
                                                    <noscript>
                                                        <img src="~/assets/images/Interal-logo-White.png" alt=""
                                                             title="" />
                                                    </noscript>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
                                            <p>All Rights Reserved.</p>
                                        </div>
                                    </div>
                                    <div class="et_pb_column et_pb_column_1_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_dark">
                                            <div class="et_pb_text_inner">Liens rapides</div>
                                        </div>
                                        <div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_dark">
                                            <div class="et_pb_text_inner">
                                                <a href="">GMAO Gestion de maintenance</a><br /> <a href="">
                                                    MRP Gestion de production
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="et_pb_column et_pb_column_1_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_dark">
                                            <div class="et_pb_text_inner">Nous contacter</div>
                                        </div>
                                        <div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_dark">
                                            <div class="et_pb_text_inner">
                                                <a href="">Contact</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="et_pb_column et_pb_column_1_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_dark">
                                            <div class="et_pb_text_inner">Réseaux Sociaux</div>
                                        </div>
                                        <div class="et_pb_button_module_wrapper et_pb_button_2_wrapper  et_pb_module ">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>