
@{
    ViewBag.Title = "MRP logiciel de gestion de production industrielle";
    Layout = "~/Views/Shared/_LayoutGPAO.cshtml";
}
<div id="main-content">
    <article id="post-1942"
             class="post-1942 page type-page status-publish hentry">
        <div class="entry-content">
            <div id="et-boc" class="et-boc">
                <div class="et-l et-l--post">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_gutters1">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_post_title et_pb_post_title_0 et_pb_bg_layout_light  et_pb_text_align_left">
                                        <div class="et_pb_title_container">
                                            <h1 class="entry-title">MRP Produits</h1>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_102  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"></div>
                            </div>
                        </div>

                        <div class="et_pb_section et_pb_section_3 et_section_regular">
                            <div class="et_pb_row et_pb_row_2 et_pb_row_fullwidth et_pb_equal_columns et_pb_gutters3">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_0">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Product-management-1080x608.jpg 1080w, /assets/images/Product-management-980x552.jpg 980w, /assets/images/Product-management-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Product-management.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Product-management.jpg" alt=""
                                                     title=""
                                                     srcset="/assets/images/Product-management-1080x608.jpg 1080w, /assets/images/Product-management-980x552.jpg 980w, /assets/images/Product-management-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Gestion de produits</strong>
                                            </h2>
                                            <h3>
                                                Gestion facile et efficace de vos produits en terme
                                                de production
                                            </h3>
                                            <ul>
                                                <li>
                                                    Regroupement des produits par catégories et
                                                    sous-catégories
                                                </li>
                                                <li>Gestion multi-niveaux de produits et sous-produits</li>
                                                <li>
                                                    Gestion des marges de profit et des coûts de
                                                    revient direct des produits
                                                </li>
                                                <li>
                                                    Gestion des modèles/couleurs ainsi que des unités
                                                    d’utilisation et des produits équivalents
                                                </li>
                                                <li>Gestion de l’entreposage (où, quand et comment)</li>
                                                <li>
                                                    Planification de fabrication selon la demande ou un
                                                    plan directeur
                                                </li>
                                                <li>
                                                    Gestion par nom et par propriété (vous pouvez
                                                    saisir un modèle pour un produit et gérer, par exemple, la
                                                    couleur en propriété, ce qui limite le nombre de produits
                                                    distincts à saisir)
                                                </li>
                                                <li>
                                                    Historique de fabrication et statistiques sur la
                                                    production
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_4 et_section_regular">
                            <div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_1">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Recipe-management-1080x608.jpg 1080w, /assets/images/Recipe-management-980x552.jpg 980w, /assets/images/uploads/Recipe-management-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Recipe-management.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Recipe-management.jpg" alt=""
                                                     title=""
                                                     srcset="/assets/images/Recipe-management-1080x608.jpg 1080w, /assets/images/Recipe-management-980x552.jpg 980w, /assets/images/Recipe-management-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Gestion des recettes</strong>
                                            </h2>
                                            <h3>
                                                La gestion des recettes et méthodes de fabrication
                                                vous permettront une mise en production efficace et sans
                                                délais.
                                            </h3>
                                            <ul>
                                                <li>
                                                    Gestion multi-recettes pour différents modes de
                                                    fabrication
                                                </li>
                                                <li>
                                                    Capacité de copier les recettes d&#8217;un produit
                                                    pour faciliter la saisie rapide de produits similaires
                                                </li>
                                                <li>
                                                    Calcul des durées de fabrication, incluant les
                                                    temps de préparation ainsi que des coût des matières
                                                    premières
                                                </li>
                                                <li>
                                                    Gestion des contrôles qualités et des listes de
                                                    vérifications
                                                </li>
                                                <li>
                                                    Désignation des composantes requises au sein de
                                                    chaque opération, permettant une gestion plus exacte des
                                                    encours (WIP)
                                                </li>
                                                <li>
                                                    Gestion des recettes combinant la gamme de
                                                    fabrication (séquence des opérations) avec la nomenclature
                                                    de fabrication (BOM)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_5 et_section_regular">
                            <div class="et_pb_row et_pb_row_4 et_pb_row_fullwidth et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_2">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/Quanlity-control-1080x608.jpg 1080w, /assets/images/Quanlity-control-980x552.jpg 980w, /assets/images/Quanlity-control-480x270.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw"
                                                 data-lazy-src="/assets/images/Quanlity-control.jpg" />
                                            <noscript>
                                                <img src="/assets/images/Quanlity-control.jpg" alt=""
                                                     title=""
                                                     srcset="/assets/images/Quanlity-control-1080x608.jpg 1080w, /assets/images/Quanlity-control-980x552.jpg 980w, /assets/images/Quanlity-control-480x270.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                <strong>Configuration des contrôles de qualité</strong>
                                            </h2>
                                            <h3>
                                                Associé aux bonnes pratiques de production, le
                                                contrôle de la qualité vous permettra de mesurer la qualité
                                                de votre production et ce, pour les opérations critiques de
                                                fabrication. Vous pourrez même saisir les données pendant
                                                les processus de production et valider en temps réel les
                                                propriétés de vos produits.
                                            </h3>
                                            <ul>
                                                <li>
                                                    Spécification du type de la donnée à saisir
                                                    (textuelle ou numérique)
                                                </li>
                                                <li>
                                                    Saisie de la nature et du nombre de paramètres à
                                                    collecter
                                                </li>
                                                <li>
                                                    Pour le type textuel, possibilité de désigner une
                                                    liste de choix
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_6 et_pb_row_fullwidth">
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_7 et_pb_image_sticky">
                                        <a href="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/images/logo-media-concept.jpg" />
                                                <noscript>
                                                    <img src="~/assets/images/Interal-logo-White.png" alt=""
                                                         title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <p>All Rights Reserved.</p>
                                    </div>

                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Liens rapides</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href=""> GMAO Gestion de maintenance </a><br /> <a href=""> MRP Gestion de production </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Nous contacter</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">Contact</a><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Réseaux Sociaux</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_left et_pb_bg_layout_dark">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>


