
@{
    ViewBag.Title = "Tableaux de bords et de suivi de la production";
    Layout = "~/Views/Shared/_LayoutGMAO.cshtml";
}

<div id="main-content">
    <article id="post-4501"
             class="post-4501 page type-page status-publish hentry">
        <div class="entry-content">
            <div id="et-boc" class="et-boc">
                <div class="et-l et-l--post">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_gutters1">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_post_title et_pb_post_title_0 et_pb_bg_layout_light  et_pb_text_align_left">
                                        <div class="et_pb_title_container">
                                            <h1 class="entry-title">Tableaux de bords</h1>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"></div>
                            </div>
                        </div>

                        <div class="et_pb_section et_pb_section_4 et_section_regular">
                            <div class="et_pb_row et_pb_row_2">
                                <div class="et_pb_column et_pb_column_4_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>Tableaux de bord configurables</h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_1 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="et_pb_row et_pb_row_3">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_0 et_pb_image_sticky">
                                        <span class="et_pb_image_wrap ">
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                 alt="" title=""
                                                 data-lazy-srcset="/assets/images/CMMS-GMAO-DashBoard_small.jpg 755w, /assets/images/CMMS-GMAO-DashBoard_small-480x451.jpg 480w"
                                                 data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 755px, 100vw"
                                                 data-lazy-src="/assets/images/CMMS-GMAO-DashBoard_small.jpg" />
                                            <noscript>
                                                <img src="/assets/images/CMMS-GMAO-DashBoard_small.jpg"
                                                     alt="" title=""
                                                     srcset="/assets/images/CMMS-GMAO-DashBoard_small.jpg 755w, /assets/images/CMMS-GMAO-DashBoard_small-480x451.jpg 480w"
                                                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 755px, 100vw" />
                                            </noscript>
                                        </span>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>Tableaux de bord</h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h3>
                                                <strong>Media Concept Maintenance</strong> offre à chacun des
                                                utilisateurs, un tableau propre à chacun des utilisateurs
                                                du logiciel. Un tableau personnalisé par la personne qui
                                                désire repérer rapidement les informations importantes à
                                                son quotidien.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>
                                                Un tableau de bord est un outil primordial à
                                                toute personne qui désire avoir sous les yeux l’ensemble
                                                des données qui l’aident à prendre des décisions éclairer
                                                ou agir rapidement lorsqu’il détecte une situation qui
                                                demande une intervention rapide.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h3>
                                                <em>
                                                    Un tableau de bord est un outil primordial à
                                                    toute personne qui désire avoir sous les yeux
                                                    l&#8217;ensemble des données qui l&#8217;aident à
                                                    prendre des décisions éclairer ou agir rapidement
                                                    lorsqu&#8217;il détecte une situation qui demande une
                                                    intervention rapide.
                                                </em>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_5 et_section_regular">
                            <div class="et_pb_row et_pb_row_4">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_1 et_pb_image_sticky">
                                        <a href="/assets/images/CMMS_GMAO_Dashboard.png"
                                           class="et_pb_lightbox_image" title="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-srcset="/assets/images/CMMS_GMAO_Dashboard.png 1920w, /assets/images/CMMS_GMAO_Dashboard-1280x720.png 1280w, /assets/images/CMMS_GMAO_Dashboard-980x551.png 980w, /assets/images/CMMS_GMAO_Dashboard-480x270.png 480w"
                                                     data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1920px, 100vw"
                                                     data-lazy-src="/assets/images/CMMS_GMAO_Dashboard.png" />
                                                <noscript>
                                                    <img src="/assets/images/CMMS_GMAO_Dashboard.png"
                                                         alt="" title=""
                                                         srcset="/assets/images/CMMS_GMAO_Dashboard.png 1920w, /assets/images/CMMS_GMAO_Dashboard-1280x720.png 1280w, /assets/images/CMMS_GMAO_Dashboard-980x551.png 980w, /assets/images/CMMS_GMAO_Dashboard-480x270.png 480w"
                                                         sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1920px, 100vw" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2 style="text-align: center;">
                                                <strong>
                                                    L&#8217;information vitale au bout de
                                                    vos doigts
                                                </strong>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <em>
                                                Un tableau de bord est un outil primordial à
                                                toute personne qui désire avoir sous les yeux
                                                l&#8217;ensemble des données qui l&#8217;aident à prendre
                                                des décisions éclairer ou agir rapidement lorsqu&#8217;il
                                                détecte une situation qui demande une intervention
                                                rapide.
                                            </em>
                                            
                                            <p>
                                                Visualisez à l&#8217;instant les informations qui vons
                                                concernent en personnalisant le tableau de bord de façon
                                                à voir uniquement les données essentielles à votre
                                                travail. Prenez des décisions éclairées et rapides en
                                                ayant accès aux KPI que vous considérez au quotidien pour
                                                votre gestion. D&#8217;un seul clic de souris, <strong>Interal</strong>
                                                présente à chacun des utilisateurs les fenêtres les plus
                                                courantes en un seul tableau au lieu d&#8217;avoir à les
                                                accéder une à une, agrémentant votre expérience
                                                logicielle!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_6 et_section_regular">
                            <div class="et_pb_row et_pb_row_5">
                                <div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>Statistiques</h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_2 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>Statistiques de maintenance (GMAO)</h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h3>
                                                L’application INTERAL offre un large éventail
                                                d’indicateurs statistiques.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="et_pb_row et_pb_row_6">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_2">
                                        <a href="/assets/images/AnalyseDeDonnees.png"
                                           class="et_pb_lightbox_image" title="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-srcset="/assets/images/AnalyseDeDonnees.png 1919w, /assets/images/AnalyseDeDonnees-1280x716.png 1280w, /assets/images/AnalyseDeDonnees-980x548.png 980w, /assets/images/AnalyseDeDonnees-480x269.png 480w"
                                                     data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1919px, 100vw"
                                                     data-lazy-src="/assets/images/AnalyseDeDonnees.png" />
                                                <noscript>
                                                    <img src="/assets/images/AnalyseDeDonnees.png"
                                                         alt="" title=""
                                                         srcset="/assets/images/AnalyseDeDonnees.png 1919w, /assets/images/AnalyseDeDonnees-1280x716.png 1280w, /assets/images/AnalyseDeDonnees-980x548.png 980w, /assets/images/AnalyseDeDonnees-480x269.png 480w"
                                                         sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1919px, 100vw" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_image et_pb_image_3">
                                        <a href="/assets/images/Statistiques.png"
                                           class="et_pb_lightbox_image" title="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-srcset="/assets/images/Statistiques.png 1920w, /assets/images/Statistiques-1280x720.png 1280w, /assets/images/Statistiques-980x551.png 980w, /assets/images/Statistiques-480x270.png 480w"
                                                     data-lazy-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1920px, 100vw"
                                                     data-lazy-src="/assets/images/Statistiques.png" />
                                                <noscript>
                                                    <img src="/assets/images/uploads/Statistiques.png"
                                                         alt="" title=""
                                                         srcset="/assets/images/Statistiques.png 1920w, /assets/images/Statistiques-1280x720.png 1280w, /assets/images/Statistiques-980x551.png 980w, /assets/images/Statistiques-480x270.png 480w"
                                                         sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1920px, 100vw" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="et_pb_row et_pb_row_7">
                                <div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2 style="text-align: center;">
                                                <strong>
                                                    Les statistiques sont divisées en
                                                    groupes
                                                </strong>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>
                                                L’application <strong>Media Concept</strong> offre un large
                                                éventail d’indicateurs statistiques.
                                            </h2>
                                            <h3>
                                                Les bénéfices d&#8217;avoir un bon outil de
                                                statistiques (et rapports) intégré dans votre logiciel
                                                GMAO sont potentiellement importants, bien que difficiles
                                                à chiffrer car, souvent indirects.
                                            </h3>
                                            <p>On peut citer :</p>
                                            <ul>
                                                <li>
                                                    une meilleure gestion et réduction des coûts
                                                    (main-d&#8217;œuvre, pièces détachées, traitement
                                                    administratif, etc.)
                                                </li>
                                                <li>
                                                    l&#8217;amélioration de la fiabilité et de la
                                                    disponibilité des équipements
                                                </li>
                                                <li>
                                                    l&#8217;optimisation des achats (aide aux appels
                                                    d&#8217;offres, gestion des contrats de prestataires
                                                    externes, etc.
                                                </li>
                                                <li>
                                                    l&#8217;amélioration du retour
                                                    d&#8217;expérience (REX) grâce aux l&#8217;historiques
                                                    des travaux de maintenance
                                                </li>
                                                <li>
                                                    l&#8217;amélioration de la planification des
                                                    interventions
                                                </li>
                                                <li>
                                                    la recherche du ratio préventif/correctif
                                                    optimal en fonction des équipements gérés et des
                                                    objectifs de disponibilité
                                                </li>
                                                <li>
                                                    un meilleur contrôle de l&#8217;activité des
                                                    sous-traitants et ressources externes
                                                </li>
                                                <li>
                                                    amélioration de la gestion des stocks (meilleur
                                                    contrôle des sorties, aide aux inventaires, optimisation
                                                    du taux de rotation, etc.)
                                                </li>
                                                <li>traçabilité des équipements</li>
                                                <li>
                                                    participation à une démarche de maintenance
                                                    productive
                                                </li>
                                                <li>
                                                    aide à la décision grâce à la fourniture
                                                    d&#8217;indicateurs plus objectifs, par exemple les
                                                    décisions de renouvellement de matériel.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="et_pb_row et_pb_row_8">
                                <div class="et_pb_column et_pb_column_4_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h2>Plus d’information sur la GMAO</h2>
                                        </div>
                                    </div>
                                    <div class="et_pb_module et_pb_divider et_pb_divider_3 et_pb_divider_position_ et_pb_space">
                                        <div class="et_pb_divider_internal"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular section_has_divider et_pb_top_divider">
                            <div class="et_pb_top_inside_divider et-no-transition"></div>
                            <div class="et_pb_row et_pb_row_9 et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_14 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_4 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/tableaux-de-bord/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/dashboard.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/uploads/dashboard.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_14 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Tableaux de bord</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_15 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_5 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/gmao-bons-de-travail/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/work_orders.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/work_orders.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_15 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Bons de travail</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_16 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_image et_pb_image_6 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/planification-gmao/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/planning.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/planning.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_16 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Planification</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="et_pb_row et_pb_row_10 et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_17 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_7 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/equipements-et-securite/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/health_safety.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/health_safety.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_17 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Équipement / Santé et Sécurité</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_18 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_8 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/gmao-mobilite/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/mobility.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/mobility.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_18 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Mobilité</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_19 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_image et_pb_image_9 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/gmao-demandeurs-et-techniciens/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/requestors_tech.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/requestors_tech.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_19 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Demandeurs / Techniciens</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="et_pb_row et_pb_row_11 et_pb_equal_columns">
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_20 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_10 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/integration-erp/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/integration.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/integration.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_20 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Intégration ERP</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_21 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_11 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/personalisation/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/personalization.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/personalization.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_21 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Personnalisation</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_22 et_animated et_clickable  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_image et_pb_image_12 et_pb_image_sticky">
                                        <a href="https://www.interal.com/fr/rapports/">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title=""
                                                     data-lazy-src="/assets/wp-content/report.svg" />
                                                <noscript>
                                                    <img src="/assets/wp-content/report.svg"
                                                         alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_22 et_animated et_clickable  et_pb_text_align_left et_pb_bg_layout_light">
                                        <div class="et_pb_text_inner">
                                            <h4>Rapports</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular">
                            <div class="et_pb_row et_pb_row_9 et_pb_row_fullwidth">
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_5 et_pb_image_sticky">
                                        <a href="">
                                            <span class="et_pb_image_wrap ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                     alt="" title="" data-lazy-src="/assets/images/logo-media-concept.jpg" />
                                                <noscript>
                                                    <img src="~/assets/images/Interal-logo-White.png" alt="" title="" />
                                                </noscript>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <p>All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_23  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Liens rapides</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_24  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">GMAO Gestion de maintenance</a><br /> <a href="">
                                                MRP
                                                Gestion de production
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_25  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Nous contacter</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_26  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">
                                            <a href="">Contact</a><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="et_pb_column et_pb_column_1_4 et_pb_column_26  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_27  et_pb_text_align_left et_pb_bg_layout_dark">
                                        <div class="et_pb_text_inner">Réseaux Sociaux</div>
                                    </div>
                                    <div class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_left et_pb_bg_layout_dark">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

